{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
{% include 'common/header2.html' %}
{% endblock %}

{% block content %}
    <section class="contact white">
      <div class="contact-info" id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-md-offset-3 col-sm-6 text-center">
                <span class="sub-head">welcome</span>
                <div class="title">
                  <h2>激活</h2>
                </div>
                  {% if message == 1 %}
                    <label>对不起, 验证邮件超时!</label>
                  {% elif message == 2 %}
                    <label>对不起, 验证邮箱没有找到!</label>
                  {% elif message == 3 %}
                    <label>谢谢您! 您的电子邮件地址已成功验证。</label>
                    <p>daoclub.org是DAOClub唯一官方网站，如果您有任何问题，请发邮件到contract@daoclub.org澄清或确认。我们的客服不会详细询问你的私钥或验证码在任何情况下。请不要把你的私人信息泄露给任何人。谢谢您!</p>
                    <a type="button" href="/verifyInfo" class="btn btn-block">现在通过提交您的信息进行验证</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}