{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
{% include 'common/header2_en.html' %}
{% endblock %}

{% block content %}
<section id="contact" class="contact white">
      <div class="contact-info" id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <span class="sub-head">welcome</span>
                <div class="title">
                  <h2>DCB TOKEN</h2>
                </div>
                  <label>Accepted Currency: Ethereum</label><br>
                  <label>Token Private Placement Price will be: 1 ETH = {{ config.private_price }} DCB</label><br>
                  <label>Token Public Sale Price will be: 1 ETH = {{ config.public_price }} DCB</label><br>
                  <label>You will receive your purchased DCB tokens at this ETH address you provide us.</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-horizontal" method="post" id="address-form">
                    {% csrf_token %}
                  <div class="col-md-offset-3 col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="ETH address" name="address" value="{{ request.user.eth_address }}">
                    </div>
                      <p>Be careful: Please do not use the exchange to provide address as KYC certification address, otherwise your token will hit the exchange account and cause unnecessary losses</p>
                      <p>If you do not have a ETH address.You can choose <a href="https://www.myetherwallet.com">myetherwallet</a> or <a href="https://token.im">imtoken</a></p>
                      <div class="form-group">
                      <button type="button" class="btn btn-block" id="add-address">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

{% endblock %}