{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
{% include 'common/header2.html' %}
{% endblock %}

{% block content %}
    <section class="contact white">
      <div class="contact-info" id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-md-offset-3 col-sm-6 text-center">
                <span class="sub-head">welcome</span>
                <div class="title">
                <h2>验证邮箱</h2>
                </div>
                <p>我们已经给你发了一封验证邮件。</p>
                <p>请去检查你的收件箱，点击链接来验证你的邮箱地址。</p>
                <label>你注册的邮箱: {{ email }}</label><br>
                  <p>如果您还没有收到电子邮件，请检查垃圾邮件文件夹或更改电子邮件再试一次</p>
                <form class="form-horizontal" method="post" id="send-form">
                    {% csrf_token %}
                  <input type="hidden" name="email" value="{{ email }}">
                  <button type="button" class="btn btn-block" id="resend"><span id="countdown_time">60</span>  second</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% include 'common/footer.html' %}
    <script>
        $(function() {
            //设置时间倒计时
            $("#resend").attr('disabled',true);
            setCountDown_time();
        })
        /*时间倒计时*/
        var sec = 60
        var idt;
        function setCountDown_time() {
            idt = window.setInterval("ls();", 1000);
        }
        function ls() {
            sec--;
            if(parseInt(sec) == 0) {
                window.clearInterval(idt);
                $("#countdown_time").text("Resend an email");
                $("#resend").attr('disabled',false);
            }else{
                $("#countdown_time").text(sec);
            }
        }

    $("#resend").click(function () {
            var data = $("#send-form").serialize();
            $("#resend").attr('disabled',true);
            sec = 60;
            setCountDown_time();
            $.ajax({
                type: 'POST',
                url: "{% url 'send' %}",
                data: data,
                success: function (result) {
                    if (result == "1"){
                        alert("Send mail successfully!")
                    }
                },
            });
        });
    </script>
{% endblock %}