{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
{% include 'common/header2.html' %}
{% endblock %}

{% block content %}
    <section class="contact white">
      <div class="contact-info" id="contact-form">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <span class="sub-head">welcome</span>
                <div class="title">
                  <h2>Account Information</h2>
                </div>
              </div>
                <div class="col-md-offset-3 col-sm-6">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>ID verification</td>
                          <td><label><a href="/verifyInfo">Info submission needed</a></label></td>
                        </tr>
                        <tr>
                          <td>ETH address</td>
                          <td><label>{% if not request.user.eth_address %}
                              <a href="/addAddress">Submit ETH address</a>
                              {% else %}
                              {{ request.user.eth_address }}
                          {% endif %}</label></td>
                        </tr>
                        <tr>
                          <td>Email address</td>
                          <td><label>{{ request.user.username }} {% if not request.user.checkEmail %}
                          <a href="/send?email={{ request.user.username }}">Need to verify mail</a>
                          {% endif %}</label></td>
                        </tr>
                        <tr>
                          <td>Reseller Link</td>
                          <td><label>http://127.0.0.1:8000/register/?code={{ request.user.icode }}</label></td>
                        </tr>
                        <tr>
                          <td>Invitation code</td>
                          <td><label>{{ request.user.icode }}</label></td>
                        </tr>
                      </tbody>
                    </table>
                <p>You can get 2%(total capital) awards to resend this code to your friends</p>
                </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}