{% load staticfiles %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/jquery.parallax.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/matchMedia.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>

    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/stats.js' %}"></script>

    <script>
    	$(document).ready(function() {
		// "use strict";
        $('#banner').parallax("50%", 0.5, true);
    		$('#feature').parallax("50%", 0.5, true);
    		$('#video').parallax("50%", 0.5, true);
    		$('#subscription').parallax("50%", 0.5, true);
    		$('#review').parallax("50%", 0.5, true);
    		$('#download').parallax("50%", 0.5, true);
            $('#footer').parallax("50%", 0.5, true);
    	});


        $(function () {
            $("a[name='login']").click(function () {
                window.location.href = '/login';
            });
        })
        $(function () {
            $("a[name='user']").click(function () {
                window.location.href = '/user';
            });
        })
        $(function () {
            $("a[name='logout']").click(function () {
                window.location.href = '/logout';
            });
        })
        $(function () {
            $("#back").click(function () {
                window.location.href = '/';
            });
        })

        $(function () {
            $("#token").click(function () {
                window.location.href = '/token';
            });
        })

        $("#add-address").click(function () {
            var address = $("input[name='address']").val();
            if (address == ""){
                alert("The ETH address can not be empty");
                return false;
            }
            if (address.length != 42){
                alert("Please enter the correct ETH address");
                return false;
            }
            var data = $("#address-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'addAddress' %}",
                data: data,
                success: function (result) {
                    if (result.status == 1){
                        location.href = '/user';
                    }
                    else if(result.status == 2){
                        alert("This ETH address already exists")
                    }
                },
            });
        });

        $("#add-name").click(function () {
            var name = $("input[name='name']").val();
            if (name == ""){
                alert("The First Name can not be empty");
                return false;
            }
            var data = $("#name-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'addName' %}",
                data: data,
                success: function (result) {
                    if (result.status == 1){
                        location.href = '/user';
                    }
                    else if(result.status == 2){
                        alert("This First Name already exists")
                    }
                },
            });
        });

        $("#en-us").click(function () {
            $("input[name='lang']").val("en");
            var data = $("#lang-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'ChangeLanguage' %}",
                data: data,
                success: function (result) {
                    if (result.status == 1){
                       location.reload(true)
                    }
                },
            });
        });

        $("#zh-cn").click(function () {
            $("input[name='lang']").val("ch");
            var data = $("#lang-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'ChangeLanguage' %}",
                data: data,
                success: function (result) {
                    if (result.status == 1){
                        location.reload(true)
                    }
                },
            });
        });

        $("#send-message").click(function () {
            var firstName = $("input[name='firstName']").val();
            var lastName = $("input[name='lastName']").val();
            var email = $("input[name='email']").val();
            var subject = $("input[name='subject']").val();
            var message = $("input[name='message']").val();
            if (firstName == "" || lastName == "" || email == "" || subject =="" || message ==""){
                alert("请填写完整的表单");
                return false;
            }
            var reg =  /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
            if (!reg.test(email)){
                alert("请填写正确的邮箱地址");
                return false;
            }
            var data = $("#message-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'contact' %}",
                data: data,
                success: function (result) {
                    if (result == 1){
                        alert("您的消息已成功发送！")
                        location.href = '/';
                    }else if(result == 2){
                        alert("您的消息正在处理中！")
                    }
                },
            });
        });

        $("#sign-reserve").click(function () {
            var email = $("#signemail").val();
            if (email == ""){
                alert("邮箱不能为空");
                return false;
            }
            var reg =  /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
            if (!reg.test(email)){
                alert("请填写正确的邮箱地址");
                return false;
            }
            var data = $("#sign-form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'reserve' %}",
                data: data,
                success: function (result) {
                    if (result == 1){
                        alert("提交成功!")
                        location.href = '/';
                    }else if(result == 2){
                        alert("不能重复提交!")
                    }
                },
            });
        });

    </script>